.navbar__list {
  display: none;
  list-style: none;
  padding: 0;
  gap: 40px;
  align-items: center;
}

.navbar__list a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

@media only screen and (min-width: 800px) {
  .navbar__list {
    display: flex;
  }
}
