.about {
  margin: 160px auto;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 165px;
  max-width: 83%;
  margin: 0 auto;
}

.about__quality {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 145px;
  grid-template-areas:
    "title image"
    "subtitle image"
    "buttom image"
    ". image";
}

.about__title {
  margin-bottom: 12px;
  color: #2e2e2e;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.18;
  grid-area: title;
}

.about__subtitle {
  margin-bottom: 32px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  grid-area: subtitle;
}

.about__button {
  border-radius: 8px;
  background: #f84646;
  width: 160px;
  height: 48px;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7;
  text-align: center;
  text-decoration: none;
  grid-area: buttom;
}

.about__image {
  grid-area: image;
}

.about__test {
  display: grid;
  column-gap: 145px;
  grid-template-areas:
    "image title"
    "image subtitle"
    "image buttom"
    "image .";
}
