.hero__container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 117px 653px 148px 122px;
}

.hero__title {
  padding-bottom: 20px;
  font-size: 64px;
  line-height: 1.28;
  margin: 0;
}

.hero__paragraph {
  font-size: 20px;
  line-height: 36px;
  margin: 0;
}

.hero__search-bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 130px;
  width: 75%;
  border-radius: 8px;
  background-color: #ffffff;
}

.hero__text {
  width: 100%;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25;
  letter-spacing: 0.2px;
}

.hero__button {
  border-radius: 8px;
  background-color: #f84646;
  color: #ffffff;
  padding: 12px 30px;
  display: flex;
  align-items: center;
}
