.hero__text {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2;
  width: 355px;
  height: 33%;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  .hero__text {
    text-align: left;
    margin: 0 100px;
    width: 55%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1100px) {
  .hero__text {
    font-size: 1.25rem;
    width: 650px;
  }
}
