.hero {
    max-width: 90%;
    margin-top: 3.8rem;
    margin-inline: auto;

}

@media screen and (min-width: 800px) {
    .hero {
        margin-top: 5rem;
        margin-left: 5.25rem;
        max-width: 36rem;
    }
}

@media screen and (min-width: 1100px) {
    .hero {
        margin-top: 7.8rem;
        margin-left: 7.6rem;
    }
}