@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url(./Manrope-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url(./Manrope-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url(./Manrope-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url(./Manrope-ExtraBold.woff2) format('woff2');
}

