.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 700;
}

@media only screen and (min-width: 800px) {
  .navbar {
    justify-content: flex-end;
    gap: 48px;
  }
}
