.header__input-newsletter{
    border: none;
    width: 80%;
    font-size: 0.87rem;
    line-height: 2.2;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .header__input-newsletter{
        margin-left: 29px;
        max-width: 245px;
    }
  }
  @media only screen and (min-width: 1100px) {
    .header__input-newsletter{
        margin-left: 32px;
        max-width: 245px;
    }
  }